%p 
The meeting scheduled for 
= @timeslot.start_time.strftime("%d %b %Y %I:%M %p")
has been canceled by the Listener

%p= link_to "Please try another timeslot by clicking on this link", timeslots_url

Best,

Bobby & Diego
