%p 
The meeting scheduled for 
= @timeslot.formatted_start_time
has been canceled by the Listener

%p= link_to "Please try another timeslot by clicking on this link", timeslots_url

Best,

Bobby & Diego
