%p Welcome to Startups Anonymous. We're here to help

%p 
To book a time with one of our listeners, please visit
= link_to 'this link right here.', timeslots_url

%p As an alternative, you can reply to this email if you are ever in need or just want to talk. We will respond.

Best,

Bobby & Diego