%p
= @entrepreneur.anonymous_check
has requested your time at 
= @timeslot.start_time.strftime("%d %b %Y %I:%M %p")

%p Please be on Skype at this time for your call 

%p Thank you again for taking the time to help

Best,

Bobby & Diego

