%p
Your conversation with 
= @listener.anonymous_check
is confirmed for  
= @timeslot.start_time.strftime("%d %b %Y %I:%M %p")

%p 
You can reach them on Skype at this username: 
= @listener.skype

-if @entrepreneur.anonymous?
  %p If you choose to stay anonymous for the call, we recommend using a fake Skype username

%p Please let us know if you are unable to make this meeting time by replying to this email

Best,

Bobby & Diego

