%p
Your conversation with 
= @listener.anonymous_check
is confirmed for  
= @timeslot.start_time

%p You can reach them on Skype at this username: 

%p If you cannot make this time, please let us know by replying to this email

Best,

Bobby & Diego

