= form_for current_user, html: {class: 'custom'} do |f|
  %h2.subheader Please enter your skype username
  %div.datetime
    = f.text_field :skype
  = f.submit :submit, class: 'button prefix', id: 'skype'