.row
  .large-6.columns
    = form_for @user, url: user_path, html: {class: 'custom'} do |f|
      %h2 Skype
      %h4.subheader Please enter your skype username
      %div.datetime
        = f.text_field :skype
      = f.submit :submit, class: 'button prefix', id: 'skype'