<div class="row">
  <div class="eight columns centered">
    <div class="row">
      <div class="twelve columns">
        <h2>Who We Are</h2>

        <p>
        We are survivors of failures. We are the ones who laid people off. We made the "I'm sorry" calls to investors. We are the ones who lost friends. 
        </p>
        <p>
        But we were also the recipients of great care and love by our friends and family (the same people we felt too much shame to talk to). For as much as we personalized and absorbed our company's failures, a few precious people never stopped caring about us. Sometimes as it happened to us, casual near-strangers reached out because they knew "sometimes, a coffee can mean the world." We are not great, no, but we were lucky. 
        </p>
        <p>
        To our eternal regret, we were never able to pay back some of those who were there for us. So we want to pay it forward.
        </p>
        <div>
          <p>
          <%= link_to("Diego Prats (@mexitlan)", "http://www.twitter.com/mexitlan", target: "_blank") %>
          </p>
          <p>
          <%= link_to("Bobby Matson (@bomatson)", "http://www.twitter.com/bomatson", target: "_blank") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>