<div class="row">
  <div class="eight columns centered">
    <div class="row">
      <div class="twelve columns">
        <h2>How we will help</h2>
        <p>

        If you email or leave a comment, we will reach out and schedule a time to talk as soon as we can. We offer complete anonymity and will not ask anything that you do not wish to tell us.  
        </p>

        Immediacy and Privacy are our goals.
        </p>
      </div>
    </div>
  </div>      
</div>