.row
  .large-8.columns
    .row
      .large-12.columns
        %h2 How we will help
        %h3.subheader 
          Immediacy and Privacy are our goals.
        %p 
          If you leave your email, we will reach out and schedule a time to talk as soon as we can. 
        %p 
          We offer complete anonymity and will not ask anything that you do not wish to tell us.        
