<div class="row">
  <div class="eight columns centered">
    <div class="row">
      <div class="twelve columns">
        <h2>How we will help</h2>
        <h3 class="subheader">
          Immediacy and Privacy are our goals.
        </h3>
        <p>
          If you leave your email, we will reach out and schedule a time to talk as soon as we can. 
        </p>
        <p>
          We offer complete anonymity and will not ask anything that you do not wish to tell us.  
        </p>
      </div>
    </div>
  </div>      
</div>