.row.listeners
  %h2 Our Listeners
  %ul.inline-list
    %li
      .large-4.columns
        = link_to image_tag('sean-percival.png'), timeslots_path
      .large-8.columns
        .description
          %h3.subheader Sean Percival
          %p
            Sean Percival is an entrepreneur, blogger and online marketing specialist. He was the Co-founder and CEO or Wittlebee and prior to that Vice President, Online Marketing for Myspace. He is known as the "Series A Whisperer" after going through a tough funding situation and sharing his story and advice for other founders. Currently he is a Distribution Specialist at 500 startups        
    %li
      .large-4.columns
        = link_to image_tag('bobby-matson.png', width: 200, height: 200), timeslots_path
      .large-8.columns
        .description
          %h3.subheader Bobby Matson
          %p
            Bobby Matson is an entrepreneur and software developer living in Santa Monica, CA. He co-founded an angel-funded music tech startup while at school in UMichigan. The business, MyBandStock, developed loyalty programs for music artists. Currently, he is developing products with Carbon Five, a Ruby on Rails consultancy in SF/LA. 
    %li
      .large-4.columns
        = link_to image_tag('diego.png'), timeslots_path
      .large-8.columns
        .description
          %h3.subheader Diego Prats
          %p
            Diego Prats a startup veteran and the very first Listener of Startups Anonymous. Currently he is working as a Product manager in SaaS. 