.row.listeners
  .large-8.columns
    .row
      .large-12.columns
        %h2 Our Listeners
        %ul
          %li
            = link_to image_tag('sean-percival.png'), '/'
            .description
              %h3.subheader Sean Percival
              %p
                Sean Percival is an entrepreneur, blogger and online marketing specialist. He was the Co-founder and CEO or Wittlebee and prior to that Vice President, Online Marketing for Myspace. He is known as the "Series A Whisperer" after going through a tough funding situation and sharing his story and advice for other founders. Currently he is a Distribution Specialist at 500 startups and advisor to several startups.
          %dt Diego Prats
          %dd
          %dt Bobby Matson
          %dd