<div class="row">
  <div class="eight columns centered">
    <div class="row">
      <div class="twelve columns">
        <h2>Resources</h2>

        <h3 class="subheader">We will post links and resources we found useful during the hard times.</h3>
        <p>
        The first link below is Teddy Roosevelt’s “Citizenship in the Republic” which a friend sent to Diego Prats, as had been sent to the friend, in a long chain of people refactoring their lives.
        </p>
        <p>
        <%= link_to 'Citizenship in a Republic', "http://en.wikipedia.org/wiki/Citizenship_in_a_Republic" %>
        </p>
      </div>
    </div>
  </div>
</div>