<% provide(:title, 'About') %>

<h1>About</h1>
<h1 class="subheader">
We are two entrepreneurs whose startups crashed. Euphemisms like “winding down” do not do the situation justice. </h1>

<p>Diego (@mexitlan) was working on a platform-as-a-service startup and Bobby (@bomatson) was working in a media startup. We both have had to reconstruct our lives since (financially, socially, emotionally, etc...) and we both owe it to the people around us.

</p>

<p>

We are currently the only people listening and reading the messages, but due to the overwhelming response and our focus on immediacy, we will invite other entrepreneurs to help us out once we have a sane, repeatable system. We want to make sure that anyone who contacts us gets nothing short than a thoughtful, honest response from people who can relate.
</p>

q