<% provide(:title, 'Help') %>

<h1>Help</h1>
<h1 class="subheader">
We're on call
</h1>
<p>
Skype user: bobby.matson
</p>

<p>
	You can reach us at startupsanonymous AT gmail DOT com or use the email input in the home page.</p>