<% provide(:title, 'Home') %>

<h1>Startups Anonymous</h1>
<p>
Startups Fail. All the time. 

Some "wind down" and others crash, burning the last people crazy enough to be on the rocket.

We in the tech world, logically, focus on the successes and the bets won. Geniuses. Closers. We are here for the others, the negative space formed by Great Figures. 

**Our mission**

We are here to lend a non-judgmental ear or mind to anyone going through the hard times. We can of course lend our experience to help you out, and would love to see people climb out of the pit, but we are also there for the "I don't even know what to ask/say" moments.

Most people will Fall. Sometimes, the Fall is so hard that people do not try again. We cannot change that, but we can try to make a small dent. 

**Who are We**

We are survivors of failures. We are the ones who laid people off. We made the "I'm sorry" calls to investors. We are the ones who lost friends. 

But we were also the recipients of great care and love by our friends and family (the same people we felt too much shame to talk to). For as much as we personalized and absorbed our company's failures, few precious people never stopped caring about us. Sometimes as it happened to us, casual near-strangers reached out because they knew "sometimes, a coffee can mean the world." We are not great, no, but we were lucky. 

To our eternal regret, we were never able to pay back some of those who were there for us. So we want to pay it forward. In their silent memory.

People:

1. Diego

2. Bobby

**How we will help**

If you email or leave a comment, we will reach out and schedule a time to talk as soon as we can. We offer complete anonymity and will not ask anything that you do not wish to tell us.  

Immediacy and Privacy are our goals.

**How can I get a hold of you?**

1. Email us - If you use **email** below we will reply immediately
2. Burnr or Skype - If you want to talk over phone, please email us and we can arrange a call on Burnr or Skype to protect your anonymity.
3. Coffee - If you live in the Los Angeles area, and immediacy is not key, we will try to meet with anyone that really needs it.

If there is anyone of us you would prefer to speak to, please note that in your email.
</p>

<%= render :template => "/users/new", :locals => { :user => @current_user } %>
