.notice {
  position:absolute;
}

.top-bar {
  margin-bottom:0;
}

.homepage {
  h1 {
    font-weight: normal;
  }

  .hero {
    background: url('hero.png') center no-repeat;
    background-size: cover;
    padding: 10rem 0;

    .hero-text {
      padding-top: 1rem;
      color: white;
      font-size: 2rem;
    }
  }

  .blue-container {
    padding: 3rem 1rem;
    background-color: #1a2432;

    p, h1 {
      color: white;
    }
  }

  .coffee-container {
    padding: 10rem 0;
    background: url('coffee_container.jpg') center no-repeat;
    background-size: cover;

    h1 {
      color: white;
    }
  }

  .mission-container {
    background-color: #e2e7ec;
    padding: 3rem 1rem;
  }

  .cta-container {
    padding: 3rem 1rem 5rem;

    h1 {
      margin-bottom: 1rem;
    }

    .contact-detail {
      padding: 1rem;
    }

    .disclaimer {
      line-height: 1;
      margin-bottom: 3rem;
    }
  }

  @media only screen and (min-width: 40.063em) {
    .blue-container, .mission-container, .cta-container {
      .columns {
        padding: 0 10rem;
      }
    }
  }
}
