.row.calendar-heading 
  .large-8.columns
    %h2 Listener Schedule
    %h4.subheader Our Listeners are available at the times in the calendar below. Please click on a timeslot to book it
    - if @closest.present?
      %h4.subheader
        Next available timeslot:
        = link_to @closest.formatted_start_time, @closest
.row 
  = render partial: 'calendar'