%h3
  Starts at
  = @timeslot.formatted_start_time
%h3.subheader
  Timeslot for   
  = @timeslot.schedule.user.anonymous_check
.button
  = link_to 'Book it', timeslot_path(@timeslot, timeslot: {confirmed: :true, requester_id: current_user.id}), method: :put, confirm: "Are you sure?"