.row.showing
  .large-8.columns
    %h2
      Timeslot for   
      = @timeslot.schedule.user.anonymous_check
    %h2.subheader
      Starts at
      = @timeslot.formatted_start_time
    - if @timeslot.confirmed
      %h2.subheader
        This timeslot has been booked with:
        = @timeslot.requester_email  
    - else
      .button#timeslot
        = link_to 'Book it!', timeslot_path(@timeslot, timeslot: {confirmed: :true, requester_id: current_user.id}), method: :put, confirm: "You are confirming at timeslot with this Listener"