
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Startups Anonymous</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <li class="divider"></li>
      <li><a href="/help">Help</a></li>
      <li class="divider"></li>
      <li><a href="/resources">Resources</a></li>
      <li class="divider"></li>
      <li><a href="/about">About</a>
      </li>
      <li class="divider"></li>
    </ul>


  </section>
</nav>
